$fontDefault: 16px;

.login {
  &__welcome-message {
    margin-top: 18%;
  }
  &__error-message {
    margin-bottom: 7px;
  }
  &__backgroud-image {
    background: url("/images/background-blue.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  &__message {
    font-size: 27px;
    margin: 14px 0 7px 0;
  }
}


